body {
    box-sizing: border-box;
    margin: 0;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

#content {
    height: 1024px;
    width: 1024px;
    background-color: #e0f4ff;
}

.friend {
    transition: x 0.15s ease-in-out, y 0.15s ease-in-out;
}
