body {
    box-sizing: border-box;
    margin: 0;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

#content {
    height: 512px;
    width: 512px;
    background-color: #fff8e7;
}

.friend {
    transition: x 0.1s ease-in-out, y 0.1s ease-in-out;
}
